@media only screen and (max-width: 1170px) {

    header{
        #logo-img{
            margin-left: 120px;
            width: 160px;
        }
        nav{
            margin-right: 100px;
            ul{
                li{
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .content{
        gap: 22px;
        margin-right: -20px;
        .content-cart-filters-div{
            width: 200px;
            .cart{
                min-height: 180px;
                h5{
                    font-size: 18.5px;
                }
                .cart-placeholder{
                    font-size: 13.5px;
                }
                p{
                    font-size: 13.5px;
                }
            }
            .filters{
                padding-top: 30px;
                padding-bottom: 30px;
                h5{
                    padding-left: 15px;
                    font-size: 18.5px;
                }
                .search-filter{
                    padding-top: 5px;
                    padding-bottom: 20px;
                    .reset-search{
                        i{
                            font-size: 13px;
                            padding-block: 6px;
                            margin-left: -25px;
                        }
                    }
                    input[type="search"]{
                        width: 140px;
                        padding: 3px;
                        font-size: 13.5px;
                    }
                    i{
                        padding-inline: 0px;
                        font-size: 16px;
                    }
                }
                .price-filter{
                    padding-inline: 12px;
                    margin-top: 5px;
                    margin-bottom: 18px;
                }
                .date-filter{
                    .date-filter-div{
                        width: 170px;
                        min-width: none;
                        .wheel-picker{
                            width: 170px;
                            min-width: none ;
                            background-color: transparent;
                        }
                        .date-picker .date-wrapper{
                            width: 170px;
                            background-color: #44322c27;
                            font-size: 14.5px;
                        }
                        label{
                            font-size: 13px;
                        }
                    }
                }
                .radio-filter{
                    padding-block: 10px;
                    div{
                        label{
                            font-size: 15px;
                        }
                    }
                }
                .btn-filter{
                    margin-top: 20px;
                }
            }
        }

        .content-main{
            gap: 10px;
            .content-navbar{
                width: 640px;
                height: 50px;
                select{
                    font-size: 14px;
                    width: 118px;
                    height: 32px;
                }
            }
            .content-items{
                max-width: 640px;
                gap: 22px;
                .beer-box-grid{
                    width: 198.5px;
                    .img-grid{
                        width: 57px;
                        height: 200px;
                    }
                    .beer-description-grid{
                        width: 198.5px;
                        .price-grid{
                            margin-top: 10px;
                            padding-bottom: 8px;
                        }
                        .add-to-cart-grid{
                            padding-block: 12px;
                            font-size: 15px;
                        }
                    }
                }
                .beer-box-list{
                    .img-list{
                        width: 57px;
                        height: 200px;
                    }
                    .beer-description-list{
                        .h3-list{
                            font-size: 20px;
                        }
                        .description-text-list{
                            font-size: 13px;
                        }
                        .price-list{
                            margin-top: 10px;
                            padding-bottom: 8px;
                        }
                        .add-to-cart-list{
                            padding-block: 9px;
                            width: 140px;
                            font-size: 14px;
                        }
                    }
                }
                .modal{
                    .modal-content{
                        margin: 15% auto;
                        width: 780px;
                        height: 400px;
                    }
                }
            }
            .navigate-arrows{
                font-size: 18px;
            }
        }
    }

}