// @import '~js-datepicker/src/datepicker';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F4E8CE;
}

header{
    background-color: #BF431F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;

    #logo-img{
        margin-right: auto;
        margin-left: 150px;
        display: inline-block;
        &:hover{
            cursor: pointer;
        }
    }
    
    nav{
        margin-right: 150px;
    
        ul{
            display: flex;
            list-style-type: none;
            
            li{
                
                a{
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 18.66px;
                    text-decoration: none !important;
                    text-transform: uppercase;
                    color: #EDD5BA !important;
                    padding-inline: 25px;
                    &:hover{
                        color: white !important;
                        cursor: pointer;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}

.content{
    display: flex;
    justify-content: center;
    padding-block: 50px;
    gap: 30px;
    margin-right: -20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .content-cart-filters-div{
        width: 250px;
        
        .cart{
            padding-block: 30px;
            padding-inline: 20px;
            background-color: #E3CFAB;
            color: #BF431F;
            width: 100%;
            min-height: 200px;

            .cart-placeholder{
                color: #44322c;
                font-size: 15px;
            }

            p{
                color: #44322c;
                font-size: 14px;
                text-align: right;

                i{
                    color: #BF431F;
                    cursor: pointer;
                }
            }

            .total{
                color: #BF431F;
            }
        }

        .filters{
            background-color: #E3CFAB;
            margin-top: 10px;
            width: 100%;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;

            h5{
                color: #BF431F;
                letter-spacing: 0.5px;
                padding-left: 20px;
            }

            .search-filter{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 15px;
                padding-bottom: 25px;

                .reset-search{
                    display: none;
                    
                    i{
                        margin-left: -30px;
                        color: #44322c;
                        padding-block: 8px;
                        border: none;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
                
                input[type="search"]{
                    width: 165px;
                    padding: 5px;
                    border: none;
                    outline: none !important;
                    font-size: 14px;
                    background-color: transparent;
                    border-bottom: 1px solid #44322c;
                    margin-right: 8px;
                    color: #44322c;
                    &:focus{
                        box-shadow: none;
                    }
                }

                i{
                    color: #44322c;
                    padding-inline: 2px;
                    font-size: 20px;
                    cursor: pointer;
                }
    
                button{
                    border: none;
                    padding: 5px;
                    font-size: 20px;
                    background-color: transparent;
                    color: #44322c;
                    cursor: pointer;
                }
    
                #snackbar {
                    visibility: hidden;
                    font-size: 12.33px;
                    background-color: #44322c;
                    color: #E3CFAB;
                    text-align: center;
                    padding-inline: 10px;
                    padding-block: 5px;
                    position: absolute;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    top: -10px;
                    right: 0;
                    opacity: 0;
                    z-index: 2;
                }
    
                #snackbar.show {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.2s;
                }
            }

            .price-filter{
                margin-top: 15px;
                padding-inline: 20px;
                margin-bottom: 25px;

                .slider .complete{
                    z-index: 1;
                }

                .slider .marker{
                    background-color: #44322c;
                    z-index: 2;
                }
                
                div.complete.bg-red{
                    background-color: #BF431F !important;
                }

                p{
                    font-size: 13px;
                    text-align: right;
                    margin-top: 12px;
                    color: #44322c;
                }
            }

            .date-filter{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                margin-bottom: 20px;
                flex-direction: column;

                .date-filter-div{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;

                    .wheel-picker{
                        background-color: #44322c27;
                    }

                    .date-picker .date-wrapper{
                        border: 1px solid #44322c;
                        cursor: pointer;
                        color: #44322c
                    }

                    label{
                        padding-top: 10px;
                        font-size: 14px;
                        text-align: center;
                        color: #44322c;
                    }
                }
            }

            .radio-filter{
                display: flex;
                flex-direction: column;
                padding-block: 15px;
                padding-inline: 20px;
                gap: 10px;

                div{
                    cursor: pointer;

                    input{
                        cursor: pointer;
                    }

                    label{
                        cursor: pointer;
                        color: #44322c;
                    }
                }
            }

            .btn-filter{
                margin-left: auto;
                margin-right: auto;
                background-color: #BF431F;
                color: #E3CFAB;
                padding-block: 8px;
                width: 92px;
                border: none;
                margin-top: 25px;
                font-size: 13px;
                letter-spacing: 0.5px;
                cursor: pointer;
                &:hover{
                    background-color: white;
                    color: #BF431F;
                    transition: 0.2s;
                }
            }

            .reset{
                display: none;
                color: #BF431F;
                text-decoration: underline;
                text-align: center;
                margin-top: 10px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .content-main{
        display: flex;
        gap: 12px;
        flex-direction: column;
        position: relative;

        .content-navbar{
            background-color: transparent;
            width: 840px;
            height: 60px;
            display: flex;
            align-items: center;
            
            .content-navbar-icons{
                margin-right: auto;
                
                i{
                    color: #BF431F;
                    padding-inline: 2px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            select{
                width: 123px;
                border: none;
                outline: none;
                background-color: #BF431F;
                color: #F4E8CE;
                font-size: 15px;
            }
        }

        .content-items{
            display: flex;
            max-width: 840px;
            gap: 30px;
            flex-wrap: wrap;
            flex-direction: row;
            position: relative;

            .beer-box-grid{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0px;
                width: 260px;
                background-color: #E3CFAB;

                .img-grid{
                    width: 80px;
                    height: 280px;
                    margin-top: 15px;
                    margin-inline: 0px;
                }

                .beer-description-grid{
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    align-items: center;
                    padding-left: 0px;

                    .h3-grid{
                        display: none;
                        margin-bottom: 0px;
                        color: #44322c;
                    }

                    .description-text-grid{
                        display: none;
                        font-size: 14px;
                        margin-bottom: 0px;
                        color: #44322c;
                    }

                    .price-grid{
                        color: #BF431F;
                        padding-bottom: 10px;
                    }
    
                    .add-to-cart-grid{
                        color: #E3CFAB;
                        width: 100%;
                        margin-top: 0px;
                        padding-block: 15px;
                        border: none;
                        background-color: #D57F2C;
                        cursor: pointer;
                        &:hover{
                            background-color: #BF431F;
                            transition: 0.2s;
                        }
                    }
                }
            }

            .beer-box-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 25px;
                width: 100%;
                background-color: #E3CFAB;

                .img-list{
                    width: 80px;
                    height: 280px;
                    margin-top: 0px;
                    margin-inline: 60px;
                }

                .beer-description-list{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: flex-start;
                    padding-left: 25px;

                    .h3-list{
                        display: block;
                        margin-bottom: 0px;
                        color: #44322c;
                    }

                    .description-text-list{
                        display: block;
                        font-size: 14px;
                        margin-bottom: 0px;
                        color: #44322c;
                    }

                    .price-list{
                        color: #44322c;
                        padding-bottom: 10px;
                    }
    
                    .add-to-cart-list{
                        color: #E3CFAB;
                        width: 170px;
                        margin-top: 5px;
                        padding-block: 15px;
                        border: none;
                        background-color: #D57F2C;
                        cursor: pointer;
                        &:hover{
                            background-color: #BF431F;
                            transition: 0.2s;
                        }
                    }
                }
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 3; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

                .dont-show-beer-name{
                    display: none;
                }

                /* Modal Content/Box */
                .modal-content {
                    background-color: #F4E8CE;
                    margin: 10% auto; /* 15% from the top and centered */
                    padding: 20px;
                    border: none;
                    width: 1000px; /* Could be more or less, depending on screen size */
                    height: 500px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    /* The Close Button */
                    // .close {
                    //     align-self: flex-end;
                    //     color: #44322c;
                    //     float: right;
                    //     font-size: 28px;
                    //     font-weight: bold;
                    //     margin-top: -55px;
                    // }
                    
                    // .close:hover,
                    // .close:focus {
                    //     color: #BF431F;
                    //     text-decoration: none;
                    //     cursor: pointer;
                    // }

                    img{
                        width: 80px;
                        height: 280px;
                        margin-inline: 80px;
                        margin-block: 20px;
                    }

                    .modal-beer-content-description{
                        padding-right: 30px;

                        h3{
                            margin-bottom: 30px;
                        }

                        h3, p, h5{
                            color: #44322c;
                        }

                        .modal-buy-beer{
                            display: flex;
                            margin-top: 30px;

                            .modal-buy-beer-input-div{
                                width: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                input{
                                    height: 46px;
                                    background-color: #D57F2C;
                                    border: none;
                                    outline: none;
                                    color: #F4E8CE;
                                    padding-left: 40px;
                                }

                                .modal-buy-beer-input-quantity{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    span{
                                        background-color: #D57F2C;
                                        color: #F4E8CE;
                                        border: none;
                                        height: 23px;
                                        font-size: 14px;
                                        cursor: pointer;
                                        padding-right: 10px;
                                    }
                                }
                            }

                            button{
                                height: 46px;
                                margin-left: 10px;
                                padding-inline: 40px;
                                border: none;
                                font-size: 14px;
                                outline: none;
                                background-color: #44322c;
                                color: #F4E8CE;
                                cursor: pointer;
                                &:hover{
                                    transition: 0.2s;
                                    background-color: #BF431F;
                                }
                            }
                        }

                        .line{
                            margin-top: 20px;
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: #44322c;
                        }

                        h5{
                            margin-bottom: 5px;
                            font-size: 1.1rem;
                        }

                        .modal-ingredients{
                        
                            span{
                                color: #BF431F;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        .navigate-arrows{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            gap: 10px;
            font-size: 20px;

            #left{
                margin-right: 15px;
                color: #BF431F;
                cursor: pointer;
            }

            span{
                color: #44322c;
                cursor: pointer;
            }

            .clicked{
                border-bottom: 1px solid #BF431F;
            }

            #right{
                margin-left: 15px;
                color: #BF431F;
                cursor: pointer;
            }
        }
    }
}

// MEDIA QUERIES
@import "./_media1170.scss";